@(id: String)

<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200" id="projects">

			<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<li style="height: 10px"></li>

			<li id='addSampleData'>
				<a href='@routes.GenomeController.addSampleDataBefore()'>
					<i class='fa fa-plus'></i>
					<span class='title'>新增细菌基因组数据</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='sampleManage'>
				<a href='@routes.GenomeController.sampleManageBefore()'>
					<i class='fa fa-table'></i>
					<span class='title'>基因组管理</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='crispr'>
				<a href='@routes.GenomeController.crisprBefore()'>
					<i class=''></i>
					<span class='title'>CRISPR分析</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='phyTree'>
				<a href='@routes.GenomeController.phyTreeBefore()'>
					<i class=''></i>
					<span class='title'>系统发育树(SNP)</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='orthoMcl'>
				<a href='@routes.GenomeController.orthoMclBefore()'>
					<i class=''></i>
					<span class='title'>OrthoMcl(同源基因分析)</span>
					<span class='selected'></span>
				</a>
			</li>



		</ul>
	</div>

	<script>
			$(function () {
				var menuContainer = jQuery('.page-sidebar ul');
				menuContainer.children('li.active').removeClass('active');
				$("#" + "@id").addClass('active')


			})
	</script>

</div>
