@()(implicit request: RequestHeader)
@main("基因组管理")("sampleManage") {

	<div class="page-content">

		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa fa-table"></i>
					<a href="">基因组管理</a>
				</li>
			</ul>
		</div>


		<div class="row-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portlet blue-madison box">
						<div class="portlet-title">
							<div class="caption">
								基因组管理
							</div>
						</div>

						<div class="portlet-body">

							<label>选择显示的列:</label>
							<div id="checkbox" class="checkbox">

							</div>

							<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
							data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
								<thead>
									<tr>
										<th data-field="operate">操作</th>
										<th data-field="samplename" data-sortable="true">样品编号</th>
										<th data-field="organism" data-sortable="true">种名</th>
										<th data-field="length" data-sortable="true">基因组长度</th>
										<th data-field="definition" data-sortable="true">描述</th>
										<th data-field="taxonomy" data-formatter="taxnomyFmt" data-sortable="true">分类学信息</th>
									</tr>
								</thead>
							</table>


						</div>
					</div>
				</div>
			</div>


		</div>

	</div>

	<script>

			function taxnomyFmt(value, row, index) {
				return value.replace(/,/g, ";&nbsp;")
			}

			$(function () {
				var array = ["种名", "基因组长度", "描述", "分类学信息"]
				var values = ["organism", "length", "definition", "taxonomy"]
				var html = ""
				$.each(array, function (n, value) {
							html += "<label style='margin-right: 15px'>" +
									"<input type='checkbox' checked='checked' value='" + values[n] + "' onclick=\"setColumns('" + values[n] + "')\">" + value +
									"</label>"
						}
				);
				$("#checkbox").append(html)

				$.ajax({
					url: "@routes.SampleController.getAllSample()",
					type: "get",
					dataType: "json",
					success: function (data) {
						$('#table').bootstrapTable({
							data: data
						});
						var hideColumns = ["taxonomy"]
						$.each(hideColumns, function (n, value) {
							$('#table').bootstrapTable('hideColumn', value);
							$("input:checkbox[value='" + value + "']").attr("checked", false)
						})
					}
				})

			})

			function setColumns(value) {
				var element = $("input:checkbox[value=" + value + "]")
				if (element.is(":checked")) {
					$('#table').bootstrapTable('showColumn', value);
				} else {
					$('#table').bootstrapTable('hideColumn', value);
				}
			}


			function deleteProject(id) {
				swal({
							title: "",
							text: "确认删除？",
							type: "warning",
							showCancelButton: true,
							showConfirmButton: true,
							confirmButtonClass: "btn-danger",
							confirmButtonText: "确定",
							closeOnConfirm: false,
							cancelButtonText: "取消"
						},
						function () {
							$.ajax({
								url: "@routes.SampleController.deleteSampleBySampleName()?sampleName=" + id,
								type: "get",
								success: function (data) {
									$('#table').bootstrapTable("load", data);
									swal("成功！", "删除数据成功！", "success")
								}
							});
						});
			}
	</script>


}